<div class="main-banner">
  <div class="logo logo_header">
    <p class="logo__title">FELKER</p>
    <p class="logo__subtitle">special product</p>
  </div>
  <div class="main-banner__content-wrapper">

    <div class="text-block">
      <h1 class="main-banner__title">Высококачественные строительные материалы от производителя</h1>
      <div class="main-banner__description">
        <div class="header__info">
          <p>Во всем Крыму нашу компанию знают, как надежного партнера и производителя качественных стройматериалов для фасадных
            и кровельных работ, а также внутренней отделки помещений.
            <br> Завод укомплектован современным производственным оборудованием с возможностью выпуска более 250 тонн продукции
            в месяц.</p>
          <p style="color: #ffbc65;">Сухие строительные смеси соответствуют межгосударственному стандарту ГОСТ 31189-2015 и выполнены по&nbsp;
            <b>ТУ 5745–001–00296319–2015</b>
          </p>
        </div>
      </div>
    </div>
    <form class="form-horizontal main-banner__form">
      <h3 class="main-banner-form_title">Обратная связь</h3>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="username"></label>
          <input class="form-control" name="username" placeholder="укажите имя...">
        </div>
        <div class="col-xs-12">
          <label for="email"></label>
          <input class="form-control" name="email" placeholder="укажите эмэйл...">
        </div>
        <div class="col-xs-12">
          <label for="msg"></label>
          <textarea class="form-control" rows="3" name="msg" placeholder="напишите сообщение..."></textarea>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-btn-panel">
        <button class="button feedback-form_button">Отправить сообщение</button>
      </div>
    </form>
  </div>
</div>