<div class="footer">
  <div class="footer__text">
    <p>Если у Вас возник вопрос, предложение или желание узнать больше о нашей продукции, будем рады Вашему звонку! При желании,
      на нашем сайте Вы можете воспользоваться формой для отправки сообщений или заказать звонок, после чего наш менеджер
      свяжется с Вами в ближайшее время.</p>
  </div>
  <form class="feedback-form form_footer" action="/notification/message" method="POST">

    <div class="feedback-form__row">
      <input class="feedback-form__field" name="username" placeholder="укажите имя..." required>
      <input class="feedback-form__field" name="email" placeholder="укажите эл. почту..." required>
    </div>
    <div class="feedback-form__row">
      <textarea class="feedback-form__field" rows="3" name="message" placeholder="напишите сообщение..." required></textarea>
    </div>
    <div class="feedback-form__buttons">
      <button class="button_feedback button button_md button_orange js-open-feedback">Заказать звонок</button>
      <button type="submit" class="js-send-notification button_feedback button button_md button_orange">Отправить сообщение</button>
    </div>
  </form>

  <div class="contacts contacts_footer">
    <ul class="contacts__list contacts__list_footer">
      <li class="contact contact_country">
        <p class="contacts__title">
          <i class="ico glyphicon glyphicon-map-marker"></i>Адрес:</p>
        <p class="contacts__item">Россия, Крым, г. Севастополь</p>
      </li>
      <li class="contact contact_phone">
        <p class="contacts__title">
          <i class="ico glyphicon glyphicon-phone"></i> Телефон:</p>
        <p class="contacts__item contacts__phone">{{info.phone}}</p>
        <p class="contacts__text contacts__text_footer">Звоните пн-сб с 9:00 до 20:00</p>
      </li>

      <li class="contact contact_email">
        <p class="contacts__title">
          <i class="ico glyphicon glyphicon-envelope"></i>Эл. почта</p>
        <p class="contacts__item">{{info.email}}</p>
      </li>
    </ul>

  </div>
</div>