<div class="section section_map">
  <div class="section__content">
    <div class="section__header">
      <h2 class="section__title">как с нами связаться</h2>
      <p class="section__subtitle">расположение на карте завода по производству строительных материалов и контактные данные</p>
      <hr class="header_hr" />
    </div>

    <div class="contact-details">
      <div class="contacts contacts_map-section">
      <ul class="contacts__list section_contacts-map">
        <li class="contact contact_country">
          <p class="contacts__title"><i class="ico fas fa-map-marker-alt"></i>Адрес:</p>
          <p class="contacts__item">Россия, Крым, г. Севастополь</p>
        </li>
        <li class="contact contact_manager">
          <p class="contacts__title"><i class="fas fa-user-tie fa-fw"></i> Контактное лицо:</p>
          <p class="contacts__item">Наталья</p>
        </li>
        <li class="contact contact_phone">
          <p class="contacts__title"><i class="ico glyphicon glyphicon-phone"></i> Телефон:</p>
          <p class="contacts__item contacts__phone">{{info.phone}}</p>
          <p class="contacts__text contacts__text_footer">Звоните пн-сб с 9:00 до 20:00</p>
        </li>
        
        <li class="contact contact_email">
          <p class="contacts__title"><i class="ico glyphicon glyphicon-envelope"></i>Эл. почта</p>
          <p class="contacts__item">{{info.email}}</p>
        </li>
      </ul>
      
    </div>
      <div class="map">
      <a href="https://yandex.ru/maps/?um=constructor%3A550a8f9fe6fb8cd2784cd4457b8acb39318febafc88afb3155239633d597a994&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A550a8f9fe6fb8cd2784cd4457b8acb39318febafc88afb3155239633d597a994&amp;width=550&amp;height=330&amp;lang=ru_RU" alt="" style="border: 0;" /></a>
    </div>
    </div>
  </div>
</div>


