<div class="section section_opportunities">
  <div class="section__content">
    <div class="section__header">
      <h2 class="section__title">Мы предоставляем</h2>
      <p class="section__subtitle">лучшие условия сотрудничества по всем регионам Крыма и Севастополю</p>
      <hr class="header_hr" />
    </div>

    <ul class="felker-list opportunities_list">
      <li class="opportunity">
        <i class="ico opportunity__ico fas fa-wallet"></i>
        <div class="opportunity__text">
          <h3 class="opportunity__title">Удобные способы оплаты</h3>
          <p class="opportunity__subtitle">оплата по факту доставки, наличный и безналичный расчет</p>
        </div>
      </li>
      <li class="opportunity">
        <i class="ico opportunity__ico far fa-clock"></i>
        <div class="opportunity__text">
          <h3 class="opportunity__title">Отсрочка платежа</h3>
          <p class="opportunity__subtitle">для юридических и физических лиц сроком до 2 месяцев</p>
        </div>
      </li>
      <li class="opportunity">
        <i class="ico opportunity__ico fas fa-thumbs-up"></i>
        <div class="opportunity__text">
          <h3 class="opportunity__title">Высокое качество материалов</h3>
          <p class="opportunity__subtitle">отлаженная рецептура и технология производства сухих строительных смесей</p>
        </div>
      </li>
      <li class="opportunity">
        <i class="ico opportunity__ico fas fa-flask"></i>
        <div class="opportunity__text">
          <h3 class="opportunity__title">Улучшенные характеристики</h3>
          <p class="opportunity__subtitle">использование современных химических и минеральных добавок</p>
        </div>
      </li>
      <li class="opportunity">
        <i class="ico opportunity__ico fas fa-percent"></i>
        <div class="opportunity__text">
          <h3 class="opportunity__title">Гибкая система скидок</h3>
          <p class="opportunity__subtitle">для постоянных и новых клиентов на любые объемы товара</p>
        </div>
      </li>
      <li class="opportunity">
        <i class="ico opportunity__ico fas fa-truck"></i>
        <div class="opportunity__text">
          <h3 class="opportunity__title">Доставка материалов</h3>
          <p class="opportunity__subtitle">свой автопарк из грузовых машин от 0.5 до 2.5 тонн для доставки по всему Крыму</p>
        </div>
      </li>
    </ul>
  </div>
</div>