<div class="container pnf-container">
  <h1 class="text-danger pnf__header">Ошибка: 404</h1>
  <p class="pnf__text">запрашиваемая страница не найдена</p>
  <a href="/" class="pnf__link"><small>Вернуться на главную страницу</small></a>
</div>