<div class="main-page">

  {{> _feedback}} {{> _header}} {{> _opportunities}}

  <div class="section section_product">
    <div class="section__content">

      <div class="section__header">
        <h2 class="section__title">Наши продукты</h2>
        <p class="section__subtitle">список всех продуктов
          <b>стандартной модификации</b>, для того, чтобы увидеть все модификации продукта, нажмите на его название или на ссылку
          <q>подробное описание всех модификаций</q>
        </p>
        <hr class="header_hr" />
      </div>

      <div class="product-categories" itemscope itemtype="http://schema.org/ItemList">
        {{#each category as |cat|}}
        
        <div class="category" id="category-{{@index}}" itemprop="itemListElement"> 
        <meta itemprop="position" content="{{@index}}" />

          <div class="category__header" itemscope itemtype="http://schema.org/Product">
            <h2 class="category__title" itemprop="name">{{cat.name}} Фелькер</h2>
            <meta itemprop="description" content="большой ассортимент сухих строительных смесей категории {{cat.name}} в Крыму и Севастополе" />
            <meta itemprop="brand" content="Felker" />
          </div>

          <div class="products-list">
            {{#each ../products as |prod|}} 
              {{#if (equals prod.category cat.id)}} {{> _product prod=prod}} {{/if}} 
            {{/each}}
          </div>

          

        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{> _map}} {{> _footer}}
</div>