@media (max-width: 1400px) {
  .admin-side-nav-panel .nav-pills>li>a {
    line-height: 16px;
  }
  .contacts__list_footer {
    max-width: 250px;
  }
}

/* 768px - 992px  */
@media (max-width: 992px) {
  .navbar-desktop {
    padding: 0 25px;
  }
  .logo_header {
    padding: 7px 15px;
    background: none;
  }
  .contacts_header {
    flex-direction: column;
    justify-content: stretch;
  }
  .contacts__list {
    margin-right: 0; 
  }
  .contact {
    width: 240px;
  }
  .contacts__feedback {
    padding: 3px 15px;
    margin-top: 5px;
  }
  .main-banner__content-wrapper {
    padding: 30px;
  }
  .text-block {
    width: 80%;
  }
  .main-banner__form {
    padding: 15px;
  }
  .section {
    padding: 20px 10px;
  }
  .section__content {
    width: 100%;
  }
  .opportunity {
    padding: 10px 15px;
    margin-bottom: 5px;
  }
  .opportunities_list {
    padding: 20px;
  }
  .opportunity__ico {
    font-size: 24px;
    padding: 20px;
    width: 50px;
    height: 50px;
  }
  .footer {
    /* flex-direction: column; */
    /* align-items: stretch; */
    flex-wrap: wrap;
  }
  .footer__text {
    width: 100%;
    text-align: center;
  }
  .form_footer {
    width: 60%;
    padding: 10px 0;
  }
  .contacts_footer {
    width: 40%;
  }
  .contacts__list_footer {
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .notification-card {
    width: 100%;
  }
  .menu-header .co-name {
    width: 100%;
    font-size: 26px;
  }
  .nav-icon {
    font-size: 26px;
  }
  .nav-title, .menu-header .menu-sub-header {
    font-size: 12px;
  }
  .admin-side-nav-panel .menu-header {
    padding: 10px;
  }
  .th-product {
    min-width: 50%;
    width: auto;
  }
  .th-modify, .td-modify, .th-mod, .td-mod {
    display: none;
  }
}

/* 480px - 767px */
@media (max-width: 767px) {
  .navbar-desktop {
    padding: 0 15px;
  }
  .main-menu {
    position: relative;
  }
  .button_main-menu {
    font-size: 24px;
    height: 42px;
  }
  .main-menu__ico {
    margin: 0;
  }
  .main-menu__title {
    display: none;
  }
  .nav__list {
    display: none;
  }
  .logo_header {
    width: 230px;
    background: transparent;
    left: calc(50% - 165px);
  }
  .contacts_header {
    width: auto;
    z-index: 50;
    padding: 10px;
    position: relative;
  }
  .main-banner__content-wrapper {
    padding: 10px;
  }
  .text-block {
    width: 100%;
    padding: 10px;
  }
  .main-banner__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .main-banner__description {
    font-size: 13px;
  }
  .main-banner__form {
    padding: 10px;
  }
  .opportunity {
    padding: 10px 15px;
    margin-bottom: 5px;
    height: 100px;
  }
  .opportunities_list {
    padding: 0;
  }
  .opportunity__title {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .opportunity__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
  .section_map {
    text-align: center;
  }
  .contact-details {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    max-width: 100%;
  }
  .section_contacts-map {
    width: 100%;
    padding: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .contact {
    width: 49%;
    text-align: center;
  }
  .map {
    border-top: 1px solid lightgrey;
    border-left: none;
  }
  .contacts-list_footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .admin-page-content {
    padding: 10px 15px;
  }
  .nav-icon {
    font-size: 20px;
  }
  .menu-header .menu-sub-header {
    display: none;
  }
  .admin-side-nav-panel .nav-pills>li {
    width: 10%;
  }
  .admin-side-nav-panel .nav-pills>li>a {
    padding: 5px;
  }
  .admin-side-nav-panel .menu-header {
    padding: 5px;
    width: 20% !important;
  }
  .menu-header .co-name {
    font-size: 20px;
  }
  .menu-header__link {
    font-size: 12px !important;
    padding: 3px !important;
  }
  .nav-title {
    margin-top: 5px;
    font-size: 11px;
  }
  .category__header {
    padding: 15px;
  }
  .category__title {
    font-size: 24px;
  }
  .product-card {
    justify-content: right;
    height: 140px;
    position: relative;
  }
  .product__preview {
    width: 90px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-card__content {
    width: 245px;
    flex-grow: 1;
    padding: 5px 15px;
  }
  .product-card__header {
    padding: 5px;
  }
  .product__title {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product__subtitle {
    margin: 0;
  }
  .product-card__description {
    padding: 5px;
    font-size: 12px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product__price {
    padding: 5px;
    width: 125px;
  }
  .price-value {
    font-size: 20px;
  }
  .price-info {
    font-size: 12px;
    margin: 0 0 5px;
    text-align: center;
  }
  .product__link {
    width: 100%;
    font-size: 11px;
  }
  .form_footer {
    width: 100%;
  }
  .contacts_footer{
    width: 100%;
    padding: 0;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .contact_manager {
    order: 1;
  }
  .contacts_footer .contact_email {
    margin-bottom: 30px;
  }
  .contacts__list_footer {
    flex-direction: row;
    align-items: stretch;
  }
  .contacts__title {
    font-size: 14px;
  }
  .contacts__item {
    font-size: 12px;
  }
  #notification-block .tab-content {
    padding-left: 0;
    padding-right: 0;
  }
}

/* 320px - 479px  */
@media (max-width: 479px) {
  .logo_header {
    padding: 12px;
    left: calc(50% - 115px);
  }
  .navbar-desktop {
    flex-direction: column;
    padding: 15px 10px;
  }
  .main-menu {
    align-self: flex-start;
  }
  .button_main-menu {
    font-size: 24px;
    height: 48px;
  }
  
  .contacts_header {
    width: 100%;
  }
  .logo__subtitle {
    display: none;
  }
  .main-banner__content-wrapper {
    padding: 10px;
  }
  .text-block {
    width: 100%;
    padding: 10px 15px;
  }
  .main-banner__title {
    font-size: 20px;
  }
  .main-banner__description {
    font-size: 13px;
  }
  .main-banner__form {
    display: none;
  }
  .section {
    padding: 10px;
  }
  .category__header {
    padding: 10px;
  }
  .opportunities_list {
    padding: 20px;
    padding: 0;
  }
  .map {
    padding: 0;
  }
  .section__title {
    font-size: 24px;
  }
  .section__subtitle {
    font-size: 15px;
    width: 100%;
    padding: 0 10px;
  }
  .section_contacts-map {
    padding: 15px 30px;
  }
  .contact {
    width: 100%
  }
  .feedback-form__field {
    margin-top: 5px;
  }
  .feedback-form__row {
    flex-wrap: wrap;
  }
  .feedback-form__buttons {
    flex-direction: column-reverse;
  }
  .button_feedback {
    margin-bottom: 5px;
    flex-grow: 1;
  }
  .tab__title {
    font-size: 24px;
  }
  .tab__subtitle, .feedback__alert {
    font-size: 12px;
  }
  .tab__link {
    padding: 10px 5px !important;
  }
  .feedback__tab-content {
    height: calc(100% - 73px);
  }
  .form_footer, .contacts_footer {
    width: 100%;
  }
  .contacts__list_footer {
    flex-direction: column;
  }

  .product-card {
    height: 120px;
  }
  .hide-on-xs {
    display: none;
    visibility: hidden;
  }
  .product__preview {
    display: none;
  }
  .product-card__content {
    width: calc(100% - 70px);
  }
  .product-card__description {
    height: 40px;
  }
  .product__link_description {
    display: block;
    font-size: 12px;
  }
  .product__price {
    padding: 10px 5px;
    width: 70px;
  }
  .price-info {
    margin: 10px 0 0;
  }
  .price-value {
    font-size: 16px;
  }
  .product-mod {
    margin: 0;
  }
  .product__link {
    display: none;
  }
  .button_feedback {
    width: 100%;
  }
  .card__text {
    padding: 10px 0;
    font-size: 12px;
    max-height: 115px;
  }
  .notifications__nav-link {
    font-size: 12px !important;
  }
  .card__body_link {
    font-size: 12px;
  }
  .form-btn-container__button {
    margin: 0 5px !important;
  }
  .nav-title {
    display: none;
  }
  .modal-win-img-wrapper,
  .modal-win-desc-wrapper {
    width: 100%;
    text-align: center;
  }
  .modal-win-img-wrapper {
    padding: 25px;
  }
  .modal-win-desc-wrapper {
    padding: 0;
  }
  .main-img, .modal-win-img {
    max-height: 200px;
  }
  .admin-panel .control-panel {
    text-align: center;
  }
  .menu-header .co-name {
    font-size: 18px;
  }
  .td-btn-title {
    display: none;
  }
  .hide-xs {
    display: none !important;
  }
  .btn-cell button i {
    margin: 0;
  }
  .page-title {
    float: none;
    padding: 0 15px;
    text-align: center;
  }
  .notifications__nav-tab + .notifications__nav-tab {
    margin-left: 0;
    margin-top: 3px;
  }
  .callback_header {
    padding: 7px 5px;
  }
}